<%= form_for Story.new do |f| %>
  <div class='form-group'>
    <%= f.file_field :image, required: true %>
  </div>
  <div>
    <%= f.submit 'Create Story', class: 'btn btn-primary' %>
  </div>
<% end %>
