<h1>Edit Post</h1>
<%= form_for Post.edit do |f| %>
  <div class="form-group">
    <%= f.text_field :content , required: true, placeholder: 'What would you like to change?' %>
  </div>
  <div>
    <%= f.submit 'Edit Post', class: 'btn btn-primary' %>
  </div>
<% end %>
