<h1 class="text-center">Welcome to Instagram Clone</h1>
<p class="text-center">Please signup or signin to continue</p>
<p class="text-center">
<%= link_to "Sign In", new_user_session_path %>
<%= link_to "Sign Up", new_user_registration_path %>
</p>
